.search-results {
  display: flex;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
  flex-wrap: wrap;
  margin-bottom: 32px;
  justify-content: center;
}

.no-search-results {
  color: var(--primary-50);
  text-align: center;
}

app-git-repo-card {
  width: 420px;
}
