@if (isLoading) {
<p-card class="skeleton-card">
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="75%" styleClass="mb-2"></p-skeleton>
</p-card>

} @else {
<a [href]="cardData?.html_url" target="_blank" rel="noopener noreferrer"><p-card [header]="cardData?.name">
        <p class="description">{{ cardData?.description }}</p>
        <p class="language">Language: {{ cardData?.language }}</p>
        <p class="license">License: {{ cardData?.license?.name }}</p>
        <p class="updated">Last Updated: {{ cardData?.updated_at | date }}</p>
    </p-card></a>
}